@layout.main({ title: "Polls to Vote" })
  @slot('meta')
    <meta name="description" content="A welcome page made with EdgeJS">
  @endslot
  <main class="container p-3">
    <header class="hero bg-base-200">
        <h1>WElcome to the home page</h1>
    </header>
  </main>
@end


